/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
}


/*--- tous ---*/

footer h2 , footer a , footer p {
  font-family: sans-serif;
}
footer a {
  text-decoration: none;
}


/*---top---*/

.footer-part-top {
  background-color:  #2D4059;
  display: flex;
  justify-content: center;
}
.ohlala {
  display: flex;
}
footer i {
  background-color: #c6c5c5;
  border-radius: 100%;
  padding: 15px;
  color: #EA5455;
}
.footer-caixa h2 {
  color: white;
}
.footer-caixa p {
  font-size: small;
  color:#e5e5e5 ;
}
.footer-caixa {
  padding: 35px;
}
.footer-part-top h2 {
  padding: 10px 0;
  font-size: large;
}

/*----- mid ----*/

.footer-part-mid {
  background-color: #e5e5e5 ;
  color: black;
  display: flex;
  justify-content: space-around;
}
.footer-part-mid a  {
  font-size: x-large;
}
.footer-triplette {
  padding: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-part-mid .umo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-part-mid .dois {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}


/* -----  bottom ----- */

.footer-part-bottom {
  background-color:  #2D4059;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MLCGUV {
  margin: 0 auto;
}
.MLCGUV a {
  inline-size: auto;
  padding: 4px;
  font-size: normal;
}

main {
  width: 75%;
  margin: 0 auto;
}

.categories {
  font-family: Monstserrat, sans-serif;
}

#categ_head {
  margin-bottom: 50px;
}

.categories h2 {
  display: inline;
  color: #EA5455;
}

.categories a {
  margin-left: 10px;
  text-decoration: none;
  font-size: small;
}

.nico_flexParent {
  display: grid;
  grid-template: 1fr 1fr/repeat(6, 1fr);
  gap: 1em;
  color: white;
}

.nico_flexParent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;
  background-color: #2D4059;
  border-radius: 10%;
  padding-top: 20px;
}

.nico_flexParent div p {
  text-align: center;
}

#meilleures-ventes-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1250px;
}


header {
  display: flex;
  flex-direction: column;
}

.logo_paragrapth {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.header_container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #2D4059;
}

.choise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2D4059;
  color: white;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.categorie1 {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.container2 {
  width: 950px;
  margin: 20px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.connexion1 {
  display: flex;
}

.navigation2 {
  background-color: white;
  width: 50px;
  background: #FFFFFF;
  border-radius: 7px;
  transform: rotate(-0.33deg);
}

.navigation3 {
  background: #EA5455;
  border-radius: 7px;
  transform: rotate(-0.33deg);
}

.panier {
  display: flex;
  justify-content: space-between;
}

.choise1 {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.choise2 {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.choise3 {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.choise:nth-child(1) {
  width: 200px;
}

.choise {
  width: 500px;
}

.number {
  background-color: #EA5455;
  width: 20px;
  border-radius: 50%;
}

.logo_paragrapth:nth-child(1) {
  font-weight: bold;
}
.meilleures-ventes-component {
  height: 261px;
  width: 263px;
  background-color: #FCFCFC;
  box-shadow: 0 0px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meilleures-ventes-image{
  width: 217px;
  height: 186px;
  margin-left: 24px;
  margin-right: 23.61px;
}

.meilleures-ventes-font {
  font-family: Montserrat;
  font-weight: bold;
}

.meilleures-ventes-etiquette {
  margin-left: 24px;
  margin-right: 23.61px;
}

.meilleures-ventes-commerce{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.meilleures-ventes-titre-produit{
  margin-bottom: 7px;
}

.meilleures-ventes-prix-produit {
  margin-top: 0px;
  margin-bottom: 0px;
}

.meilleures-ventes-stock-produit{
  color: #42CC58;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa-solid {
  color: #EA5455;

}